global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 5m
    timeout server 5m
    timeout tunnel 5m
    timeout http-request 10s
    timeout http-keep-alive 5m
    timeout check 400ms

resolvers docker
    nameserver docker 127.0.0.11:53
    accepted_payload_size 8192
    resolve_retries 3
    timeout resolve 250ms
    timeout retry 250ms
    hold valid 1s
    hold obsolete 1s
    hold nx 1s
    hold timeout 1s
    hold refused 1s
    hold other 1s

frontend ingress
    bind :11235
    default_backend crawl4ai

backend crawl4ai
    option httpchk
    http-check send meth GET uri /health ver HTTP/1.1 hdr Host crawl4ai.haiku.host
    http-check expect status 200
    default-server check inter 500ms fastinter 250ms downinter 250ms fall 1 rise 1 resolvers docker resolve-prefer ipv4 init-addr none init-state fully-down
    server-template crawler 8 tasks.crawl4ai-yq1svi:11235

listen stats
    bind :8404
    stats enable
    stats uri /stats
